{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
            <div class="row justify-content-center">
                <div class="text-wrap text-center d-flex align-items-center order-md-last">
                    <div class="text w-100">
                        <!-- Change Icon
                        <div class="icon"><span class="fa fa-soccer-ball-o"></span></div>
                        -->
                        <a href="{% url 'LandingPage' %}" class = "logo-signin " ><img src="{% static 'assets/img/Logo.png' %}"></img></a>
                        <!--
                        <p>Already have an account?</p>
                        <a href="#" class="btn btn-white btn-outline-white">Sign In</a>-->
                    </div>
                 </div>
            </div>
			<div class="row justify-content-center">
                  <!--SIGN UP-->
					    <div class="login-wrap p-4 p-md-4">
			      	        <h4 class="mb-1 text-center">Sign in</h4>
							<form action="#" class="signin-form" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-2 ">
                                    <label class="label" for="email">Username/Email</label>
                                    <input type="text" class="form-control" placeholder="Username/Email" name = "user_email">
                                </div>
                                    <div class="form-group mb-2">
                                        <label class="label" for="password">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="pass">
                                    </div>
                                <div class="row">
                                <div class=" col contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                    </label>
                                </div>
                               
                                <div class="col text-right p-t-90">
                                    <a class="txt1" href="#">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary rounded submit p-2">Sign In</button>
                                </div>
                             <!--Add message-->
                             <div class="input__item">
                                {% for message in messages %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                                {% endfor %}
                                </div>
		                    </form>
                            <div class="w-100 social-wrap">
                                            <p class="mt-1">Create New Account <a href="{% url 'Signup' %}">Sign Up</a></p>
                            </div>
		                </div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/signupjs/jquery.min.js' %}"></script>
  <script src="{% static 'js/signupjs/popper.js' %}"></script>
  <script src="{% static 'js/signupjs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/signupjs/main.js' %}"></script>

	</body>
</html>

