{% extends 'LM_base.html' %}
{% block title %} Lesson Descriptions {% endblock %}
{% block content %}

<h3>New Materials</h3>
<small><em>Descriptions of the planned lesson materials: This inlcudes a proper title and summary/blurb.</em>

<br/>
<br/>
<br/>
<div class ="form-group">
<form method ="POST">
    {% csrf_token %}

    {{form.media}}
    {{form.as_p}}

    <a style="text-align: center;" href="{% url 'add-category' %}"><small> Add Category </small> </a>
</br></br></br>
    <button class="btn btn-primary mt-2"> Save </button>

      
</div>



{% endblock %}