{% extends 'LM_base.html' %}
{% block title %} Lesson Descriptions {% endblock %}
{% block content %}

<a href="{% url 'materials' %}">Back</a>
</br></br>

<h3>New Materials</h3>
<small><em>Descriptions of the planned lesson materials: This inlcudes a proper title and summary/blurb.</em>

<br/>
<br/>
<br/>
<div class ="form-group">
<form method ="POST">
    {% csrf_token %}

    {{form.media}}
    {{form.as_p}}

</br></br></br>
    <button type="submit" class="btn btn-primary mt-2" name="btnLMCreate"> Save </button>
</form>
      
</div>



{% endblock %}