{% extends 'LM_base.html' %}

{% block content %}

<h3>Lesson Materials</h3>

</br>

{% for p in projects %}
{% for mat in p.materials.all %}
<ul>

    <a href="{% url 'material-details' mat.pk %}">{{ mat.title }}</a> 
    </br><em>by {{mat.author.first_name}} {{mat.author.last_name}} </em>
</br>
    <b><small>Period: {{ mat.period }}</small></b>
    <br/>
    </br>
    Summary: 
</br>
    {{ mat.description }}
</br>
<hr>
</br>




{% endfor %}
    </ul>
{% endfor %}

    <a class="btn btn-primary mt-2" href="{% url 'add-materials' %}"> Add Materials </a>

{% endblock %}