{% extends 'base.html' %}

{% block content %}

<h5>Lesson Materials</h5>

<ul>
{% for mat in object_list %}
    <li><a href="{% url 'material-details' mat.pk %}">{{ mat.title }}</a> <a href="update-materials" class="text-lg-left">
        Edit
    </a>
    </br>by {{mat.author.first_name}} {{mat.author.last_name}} (Username: @{{ mat.author }}) 
    <br/>
    {{ mat.description }}</li>
<br>


{% endfor %}
    </ul>

    <a class="btn btn-primary mt-2" href="{% url 'add-materials' %}"> Add Materials </a>

{% endblock %}